* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(0, 155, 216);
    color: white;
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 40px;
}

.form-class {
    width: 50%;
    margin: auto;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

label {
    font-size: larger;
}

.form-text {
    width: 100%;
    height: 40px;
    margin: 10px 0px 20px;
}

.btn-submit {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-left: 350px;
    font-size: larger;
    border-style: none;
    border-radius: 25px;
    background-color: rgb(0, 155, 216);
    color: white;
}

.btn-submit:hover {
    background-color: rgb(1, 126, 175);
}

textarea {
    margin-top: 20px;
}

/* ----------- Tampil.php ----------- */

.list-table {
    width: 50%;
    margin: auto;
}

.tambah {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(0, 155, 216);
    color: white;
}

.tambah:hover {
    background-color: rgb(0, 124, 173);
}

table {
    margin-top: 30px;
}

.thead {
    border: none;
    background-color: grey;
    color: white;
}

td, th {
    padding: 15px 20px;
}

th {
    padding: 10px 0px;
}

td {
    border-bottom: 1px solid grey;
}

table a {
    padding: 10px;
    border-radius: 10px;
}

.edit a {
    background-color: orange;
    color: white;
}

.hapus a {
    background-color: red;
    color: white;
}

.edit a:hover{
    background-color: rgb(223, 145, 0);
}

.hapus a:hover {
    background-color: rgb(179, 0, 0);
}
